{% extends 'layouts/application.html' %}
{# / 全站首页 #}

{% block title %}首页{% endblock %}
{% block description %}欢迎来到One in GDUFS首页{% endblock %}

{% block body_attr %}id="index"{% endblock %}
{% block body %}
{% if user.is_anonymous %}
{# 未登录，显示登录表单 #}
<div class="row">
  <div class="wrapper span3 offset4">
    <h1>One in GDUFS</h1>
    {% include 'shares/login_form.html' %}
  </div>
</div>
{% else %}
{# 已登录 #}
<div class="row">
  <div class="span3">欢迎来到One in GDUFS，<a href="/home/" title="去用户中心">{{user.username}}</a></div>
</div>
{% endif %}
{% endblock %}

{# 去除footer #}
{% block footer %}{% endblock %}
