<nav class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/" title="首页">One in GDUFS</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="{% if '/' == request.path %}active{% endif %}"><a href="/">首页</a></li>
          <li class="{% if '/home/' in request.path %}active{% endif %}"><a href="/home/">用户中心</a></li>
          <li class="{% if '/life/' in request.path %}active{% endif %}"><a href="/life/">校园生活</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
