<meta charset="utf-8" />
<meta name="author" content="MoLice" />
<link rel="stylesheet" type="text/css" href="/static/styles/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/bootstrap-responsive.min.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/application.css" />
<link rel="stylesheet" type="text/css" href="/static/styles/application-responsive.css" />
<!--[if lt IE 9.0]>
<script>
  (function() {
  var html5tag = ['article', 'aside','details', 'figcaption', 'figure', 'footer', 'header', 'hgroup', 'nav', 'section'];
  for(var i=0; i<html5tag.length; i++) {
  document.createElement(html5tag[i]);
  }
  })();
</script>
<![endif]-->
