<form id="login-form" method="post" action="/home/login/">
  {% for fields in form %}
    {% ifequal fields.label '记住我' %}
      <label class="checkbox">
        {{fields}}
        {{fields.label}}
      </label>
    {% else %}
      {{fields.label_tag}}
      {{fields}}
    {% endifequal %}
  {% endfor %}
  {{form.errors}}
  <input type="hidden" name="redirect_to" value="{{request.get_full_path}}" />
  <div class="action">
    <button class="btn btn-primary" type="submit">登录</button>
    <a class="nearbybtn" href="/home/register/">注册</a>
  </div>
</form>
