{% comment %}
block
|- attr @default:class="form-horizontal"
|- action
|- legend
|- user_info @default:见代码
|- fields @default:见代码
|- tabindex_submit
|- tabindex_reset
{% endcomment %}
<form {% block attr %}class="form-horizontal"{% endblock %} action="{% block action %}{% endblock %}" method="post">
  <fieldset>
    <legend>{% block legend %}{% endblock %}</legend>
    {% block user_info %}
    {# 昵称 #}
    <div class="control-group">
      <label class="control-label">昵称</label>
      <div class="controls">
        <span class="uneditable-input text-like-input">{{user.username}}</span>
      </div>
    </div>
    {# 关联学号 #}
    <div class="control-group">
      <label class="control-label">关联学号</label>
      <div class="controls">
        <span class="uneditable-input text-like-input">{{user.studentId}}</span>
      </div>
    </div>
    {% endblock %}
    {% block fields %}
    {# form fields #}
    {% for fields in form %}
    <div class="control-group{% if fields.errors %} error{% endif %}">
      <label class="control-label" for="{{fields.auto_id}}">{{fields.label}}</label>
      <div class="controls">
        {{fields}}
        <p class="help-block">
        {% if fields.errors.as_text %}
        {{fields.errors.as_text}}
        {% else %}
        {{fields.help_text}}
        {% endif %}
        </p>
      </div>
    </div>
    {% endfor %}
    {% endblock %}
    {# form-actions #}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit" tabindex="{% block tabindex_submit %}{% endblock %}">保存</button>
      <button class="btn" type="reset" tabindex="{% block tabindex_reset %}{% endblock %}">取消</button>
    </div>
  </fieldset>
</form>
