<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <title>{% block title %}{% endblock %} - One in GDUFS</title>
  <meta name="description" content="{% block description %}{% endblock %}" />
  {% include 'shares/head.html' %}
  {% block head %}{# head #}{% endblock %}
</head>
<body {% block body_attr %}{# body_attr #}{% endblock %}>
  <div class="container">
    {% block body %}{# body #}{% endblock %}
    {% block footer %}{# footer #}{% include 'shares/footer.html' %}{% endblock %}
  </div>
  <script src='/static/javascripts/jquery.js'></script>
  <script src='/static/javascripts/bootstrap.min.js'></script>
  {% block script %}{# javascripts #}{% endblock %}
</body>
</html>
