<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <title>{% block title %}{% endblock %} - One in GDUFS</title>
  <meta charset="utf-8" />
  <meta name="description" content="{% block description %}{% endblock %}" />
  <meta name="author" content="MoLice" />
  <link rel="stylesheet" type="text/css" href="/static/styles/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/styles/bootstrap-responsive.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/styles/application.css" />
  {% block head %}{% endblock %}
</head>
<body>
  <div class="container">
  {% block body %}{% endblock %}
  </div>
  <script src='/static/javascripts/jquery.js'></script>
  <script src='/static/javascripts/bootstrap.min.js'></script>
</body>
</html>
